*{
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
    }
}

body{
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 48, 48);
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    gap: 85vw;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(28, 28, 28);
}

.duck {
    display: flex;
    justify-content: center;
    width: 3.3vw;
    height: 7vh;
    border-radius: 50%;
    outline: solid 2px;
    color: white;
    img {
      width: 80%;
      transition: all 0.2s ease;
    }
    &:hover {
      img {
        width: 90%;
      }
    }
}

.burg {
    width: 3.5vw;
    height: 80%;
    flex-direction: column;
    gap: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
    img{
      width: 100%;
    }
}

.burgMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10vh;
    right: -20vw;
    width: 20vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    z-index: 900;
    flex-direction: column;
    gap: 17px;
    overflow: hidden;
    box-shadow: -1px 5px 10px rgb(39, 39, 39);
    transition: all 0.5s ease;

    .menuBtns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 88%;
        gap: 5vh;
        a{
            color: black;
            padding: 10px;
            padding-left: 15px;
            //outline: solid 1px red;
            width: 80%;
            font-size: 2em;
            background-color: white;
            box-shadow: -5px 5px 0px rgb(105, 156, 126);
            //border-bottom-left-radius: 15px;
            //border-top-left-radius: 10px;
            //border-bottom-right-radius: 10px;
            border-radius: 15px;
            &:hover{
              box-shadow: -5px 5px 0px rgb(34, 75, 75);
            }
        }
    }
}

.mainWrapper{
    margin-top: 12vh;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.top
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.arrow
{
    height: 10em;
    cursor: pointer;
    opacity: 0.6;
    //z-index: 11;
    &:hover
    {
        opacity: 1;
    }
}

.frame
{
    width: 50%;
    //height: 60%;
    overflow: hidden;
    border: 5px double;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.53);
    //z-index: 10;
}

.slider
{
    display: flex;
    transition: all 1s ease;
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom
{
    display: flex;
    align-items: center;
    gap: 1em;
}

.button
{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-selected
{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    transition: all 0.5s ease;
}



.bg
{
    z-index: -1;
    
}
.bg-img
{
    opacity: 0.01;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}