*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //font-size: 40px;
    font-family: "Nunito", sans-serif;
    //font-weight: 400;
    a{
        text-decoration: none;
    }
}

body{
    background-color: rgb(42, 17, 44);
}


.bg{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(../img/fonditoFilter.jpg);
    background-repeat: repeat;
    background-size: 20vw;
    opacity: 0.05;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 38, 81);
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;

    flex-direction: row;
    gap: 85vw;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(28, 28, 28);
}


.duck {
    display: flex;
    justify-content: center;
    width: 3.3vw;
    height: 7vh;
    border-radius: 50%;
    outline: solid 2px;
    color: white;
    img {
      width: 80%;
      transition: all 0.2s ease;
    }
    &:hover {
      img {
        width: 90%;
      }
    }
}

.burg {
    width: 3.5vw;
    height: 80%;
    flex-direction: column;
    gap: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
    img{
      width: 100%;
    }
}

.burgMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10vh;
    right: -20vw;
    width: 20vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    z-index: 900;
    flex-direction: column;
    gap: 17px;
    overflow: hidden;
    box-shadow: -1px 5px 10px rgb(39, 39, 39);
    transition: all 0.5s ease;

    .menuBtns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 88%;
        gap: 5vh;
        a{
            color: black;
            padding: 10px;
            padding-left: 15px;
            //outline: solid 1px red;
            width: 80%;
            font-size: 2em;
            background-color: white;
            box-shadow: -5px 5px 0px rgb(176, 132, 179);
            //border-bottom-left-radius: 15px;
            //border-top-left-radius: 10px;
            //border-bottom-right-radius: 10px;
            border-radius: 15px;
            &:hover{
              box-shadow: -5px 5px 0px rgb(78, 38, 81);
            }
        }
    }
}

.main-wrapper{
    font-size: 40px;
    position: relative;
    display: flex;
    //gap: 0.1em;
    width: 80vw;
    min-height: 80vh;
    max-height: 80vh;
    margin: 2vw auto;
    margin-top: 15vh;
    
    z-index: 1;
    background: rgba(255, 255, 255, 0.971);
    //border: solid 0.08em rgba(46, 33, 51, 0.477);
    border-radius: 10px;
}


.leftMenu{
    //flex: 1;
    border-right: solid 2px rgba(46, 33, 51, 0.379);
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    min-width: 15%;
    .divider{
        outline: solid 0.5px rgba(46, 33, 51, 0.379);
        margin: 10px 0;
    }

    .searchBar{
        padding: 5px 10px;
        margin-top: 15px;
        width: 100%;
        font-size: medium;
        border: 2px solid rgba(46, 33, 51, 0.379);
        border-radius: 10px;
        &:focus{
            outline: none !important;
        }
        &::placeholder{
            color: rgba(107, 90, 110, 0.76);
        }
        //border-radius: 15px;
    }
    
    h1{
        font-size: 0.6em;
        color: rgb(35, 29, 62);
        font-weight: 700;
        margin-bottom: 10px;
        
    }

    .categories{
        display: flex;
        flex-direction: column;
        
        .cat{
            //line-height: 1em;
            font-size: 0.4em;
            font-weight: 600;
            margin-bottom: 6px;
            border-radius: 8px;
            padding: 5px;
            padding-left: 10px;
            &:hover{
                box-shadow: -5px 2px 5px  rgba(49, 37, 54, 0.4);
            }
        }
    }

    .price{
        .priceSlider{
            display: flex;
            gap: 0.4em;
        
            span{
                font-size: 0.6em;
                font-weight: 600;
                color: rgb(35, 29, 62);
            }
            
        }
    }
}

.content{
    //flex: 4;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    .products{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        min-height: 65%;
        //gap: 10px;
        justify-content: center;
        //align-items: center;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            width: 20%;
            margin: 10px;
            border-radius: 15px;
            box-shadow: 0px 1px 10px rgba(49, 37, 54, 0.3);
            padding: 10px;
            //gap: 0.5em;


            span{
                margin-left: 10%;
                margin-bottom: 15px;
            }

            .name{
                font-size: 0.6em;
                font-weight: 700;
            }
            .priceText{
                font-size: 0.5em;
                font-weight: 600;
            }

            img{
                width: 80%;
                height: 70%;
                object-fit: contain;
                outline: solid 2px grey;
                border-radius: 5px;
                align-self: center;
                margin-bottom: 10px;
            }

            &:hover{
                box-shadow: 0px 1px 10px 2px rgba(33, 25, 36, 0.6);
            }
        }
    }
}

